[Unit]
Description=Service to keep Unreal Slackers Bot alive
StartLimitIntervalSec=1
StartLimitBurst=10

[Service]
PIDFile=/tmp/unreal-slackers.pid
User=root
Group=root
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/DiscordBots/AAICharacter/
ExecStart=/home/DiscordBots/AAICharacter/app.js

[Install]
WantedBy=multi-user.target